<figure class="figure">
  <img
    src="../../../assets/images/shawshank3.jpg"
    style="max-width: 150px"
    class="figure-img img-fluid rounded img-thumbnail"
    alt="..."
  />
  <figcaption class="figure-caption">Movie #1 Title</figcaption>
  <figcaption class="figure-caption">
    <i class="bi bi-star"></i> <b>9.1/10</b>
  </figcaption>
</figure>

<figure class="figure">
  <img
    src="../../../assets/images/shawshank3.jpg"
    style="max-width: 150px"
    class="figure-img img-fluid rounded img-thumbnail"
    alt="..."
  />
  <figcaption class="figure-caption">Movie #2 Title</figcaption>
  <figcaption class="figure-caption">
    <i class="bi bi-star"></i> <b>9.1/10</b>
  </figcaption>
</figure>

<figure class="figure">
  <img
    src="../../../assets/images/shawshank3.jpg"
    style="max-width: 150px"
    class="figure-img img-fluid rounded img-thumbnail"
    alt="..."
  />
  <figcaption class="figure-caption">Movie #3 Title</figcaption>
  <figcaption class="figure-caption">
    <i class="bi bi-star"></i> <b>9.1/10</b>
  </figcaption>
</figure>

<figure class="figure">
  <img
    src="../../../assets/images/shawshank3.jpg"
    style="max-width: 150px"
    class="figure-img img-fluid rounded img-thumbnail"
    alt="..."
  />
  <figcaption class="figure-caption">Movie #4 Title</figcaption>
  <figcaption class="figure-caption">
    <i class="bi bi-star"></i> <b>9.1/10</b>
  </figcaption>
</figure>

<figure class="figure">
  <img
    src="../../../assets/images/shawshank3.jpg"
    style="max-width: 150px"
    class="figure-img img-fluid rounded img-thumbnail"
    alt="..."
  />
  <figcaption class="figure-caption">Movie #5 Title</figcaption>
  <figcaption class="figure-caption">
    <i class="bi bi-star"></i> <b>9.1/10</b>
  </figcaption>
</figure>

<figure class="figure">
  <img
    src="../../../assets/images/shawshank3.jpg"
    style="max-width: 150px"
    class="figure-img img-fluid rounded img-thumbnail"
    alt="..."
  />
  <figcaption class="figure-caption">Movie #6 Title</figcaption>
  <figcaption class="figure-caption">
    <i class="bi bi-star"></i> <b>9.1/10</b>
  </figcaption>
</figure>

<figure class="figure">
  <img
    src="../../../assets/images/shawshank3.jpg"
    style="max-width: 150px"
    class="figure-img img-fluid rounded img-thumbnail"
    alt="..."
  />
  <figcaption class="figure-caption">Movie #7 Title</figcaption>
  <figcaption class="figure-caption">
    <i class="bi bi-star"></i> <b>9.1/10</b>
  </figcaption>
</figure>

<figure class="figure">
  <img
    src="../../../assets/images/shawshank3.jpg"
    style="max-width: 150px"
    class="figure-img img-fluid rounded img-thumbnail"
    alt="..."
  />
  <figcaption class="figure-caption">Movie #8 Title</figcaption>
  <figcaption class="figure-caption">
    <i class="bi bi-star"></i> <b>9.1/10</b>
  </figcaption>
</figure>

<figure class="figure">
  <img
    src="../../../assets/images/shawshank3.jpg"
    style="max-width: 150px"
    class="figure-img img-fluid rounded img-thumbnail"
    alt="..."
  />
  <figcaption class="figure-caption">Movie #9 Title</figcaption>
  <figcaption class="figure-caption">
    <i class="bi bi-star"></i> <b>9.1/10</b>
  </figcaption>
</figure>

<figure class="figure">
  <img
    src="../../../assets/images/shawshank3.jpg"
    style="max-width: 150px"
    class="figure-img img-fluid rounded img-thumbnail"
    alt="..."
  />
  <figcaption class="figure-caption">Movie #10 Title</figcaption>
  <figcaption class="figure-caption">
    <i class="bi bi-star"></i> <b>9.1/10</b>
  </figcaption>
</figure>
