<figure class="figure">
  <img
    src="../../../assets/images/shawshank3.jpg"
    style="max-width: 120px"
    class="figure-img img-fluid rounded img-thumbnail"
    alt="..."
  />
  <figcaption class="figure-caption">Actor name</figcaption>
  <figcaption class="figure-caption">(Role)</figcaption>
</figure>

<figure class="figure">
  <img
    src="../../../assets/images/shawshank3.jpg"
    style="max-width: 120px"
    class="figure-img img-fluid rounded img-thumbnail"
    alt="..."
  />
  <figcaption class="figure-caption">Actor name</figcaption>
  <figcaption class="figure-caption">(Role)</figcaption>
</figure>

<figure class="figure">
  <img
    src="../../../assets/images/shawshank3.jpg"
    style="max-width: 120px"
    class="figure-img img-fluid rounded img-thumbnail"
    alt="..."
  />
  <figcaption class="figure-caption">Actor name</figcaption>
  <figcaption class="figure-caption">(Role)</figcaption>
</figure>

<figure class="figure">
  <img
    src="../../../assets/images/shawshank3.jpg"
    style="max-width: 120px"
    class="figure-img img-fluid rounded img-thumbnail"
    alt="..."
  />
  <figcaption class="figure-caption">Actor name</figcaption>
  <figcaption class="figure-caption">(Role)</figcaption>
</figure>

<figure class="figure">
  <img
    src="../../../assets/images/shawshank3.jpg"
    style="max-width: 120px"
    class="figure-img img-fluid rounded img-thumbnail"
    alt="..."
  />
  <figcaption class="figure-caption">Actor name</figcaption>
  <figcaption class="figure-caption">(Role)</figcaption>
</figure>

<figure class="figure">
  <img
    src="../../../assets/images/shawshank3.jpg"
    style="max-width: 120px"
    class="figure-img img-fluid rounded img-thumbnail"
    alt="..."
  />
  <figcaption class="figure-caption">Actor name</figcaption>
  <figcaption class="figure-caption">(Role)</figcaption>
</figure>

<figure class="figure">
  <img
    src="../../../assets/images/shawshank3.jpg"
    style="max-width: 120px"
    class="figure-img img-fluid rounded img-thumbnail"
    alt="..."
  />
  <figcaption class="figure-caption">Actor name</figcaption>
  <figcaption class="figure-caption">(Role)</figcaption>
</figure>

<figure class="figure">
  <img
    src="../../../assets/images/shawshank3.jpg"
    style="max-width: 120px"
    class="figure-img img-fluid rounded img-thumbnail"
    alt="..."
  />
  <figcaption class="figure-caption">Actor name</figcaption>
  <figcaption class="figure-caption">(Role)</figcaption>
</figure>

<figure class="figure">
  <img
    src="../../../assets/images/shawshank3.jpg"
    style="max-width: 120px"
    class="figure-img img-fluid rounded img-thumbnail"
    alt="..."
  />
  <figcaption class="figure-caption">Actor name</figcaption>
  <figcaption class="figure-caption">(Role)</figcaption>
</figure>

<figure class="figure">
  <img
    src="../../../assets/images/shawshank3.jpg"
    style="max-width: 120px"
    class="figure-img img-fluid rounded img-thumbnail"
    alt="..."
  />
  <figcaption class="figure-caption">Actor name</figcaption>
  <figcaption class="figure-caption">(Role)</figcaption>
</figure>
